.custom-navbar {
  background-color: rgb(54, 54, 54); 
  padding: 15px;
  border-radius: 0px;
}

.custom-navbar a {
  color: #42BCB4 !important; 
  text-decoration: none;
  font-weight: bold;
}

.custom-navbar .nav-pills .nav-link {
  color:  #42BCB4; 
  border-radius: 0px;
}

.custom-navbar .nav-pills .nav-link.active {
  background-color: #42BCB4 !important; 
  color: white !important;
}

.section {
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 60px 20px;
}

#abschnitt1 {
  background: linear-gradient(135deg, #2E3192, #1BFFFF); 
  color: white;
}

#abschnitt2 {
  background: white; 
  color: black;
}

#abschnitt1 {
  background: linear-gradient(135deg, #2E3192, #1BFFFF); 
  color: white;
}

body, html {
  margin: 0;
  padding: 0;
}

section {
  padding: 100px 0; 
  border: none; 
}

.carousel-img {
  width: 70% !important; 
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto; 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(100%);
}